extends layout

block content
  p Hello

block footer
  p I love you

//- .wrapper.ohnoooo
//-   - const upDog = dog.toUpperCase();
//-   p.hello Hello my dog name is #{upDog}
//-   span#yo Yo!
//-   img.dog(src="dog.jpg", alt=`Dog ${dog}`)

//- h2
//-   |  Hello
//-   em How are you?